.board::-webkit-scrollbar{
    width: .65rem;  
}

.board::-webkit-scrollbar-track {
    border-radius: 100vw;
    background: darkgrey;
    margin-block: .05rem;
}

.board::-webkit-scrollbar-thumb {
    background:rgb(83, 83, 83);
    border:.01rem solid rgb(78, 78, 78);
    border-radius: 100vw;
}

.board::-webkit-scrollbar-thumb:hover {
    background:rgba(83, 83, 83, 0.897);
}